/**
* GRID - inspired by 8pt grid system (Material Design) and by 8 column system - Joel Beukelman
 - http://gridcalculator.dk/#/1280/8/16/8
*/

//base unit is 8px

//1280
$grid-max-width:rem($base-unit*160);
$grid-padding:rem($base-unit);
$grid-gutter:rem($base-unit*2);

@mixin container {
  max-width: $grid-max-width;
  margin: 0 auto;
  box-sizing: border-box;
}

.o-grid-container {
  @include container;
  padding-left:$grid-padding;
  padding-right: $grid-padding;
}
