.c-navigation

  .o-grid-container

    .c-navigation-flex
      
      a(href="#home" class="c-link-logo") 

        <svg class="c-link-logo-img">
          <use xlink:href="#logo"></use>
        </svg>

        span(class="c-link-logo-copy" aria=hidden="true") bezzavislosti.cz

      nav(role="navigation" class="c-navigation-list" aria-label="hlavni navigace stranky")

        a(href="#what") O nás

        a(href="#how") Technologie

        a(href="#contact") Kontakt