<svg style="display:none">
  <symbol id="logo" viewbox="0 0 46 46">
    <g fill="none" fill-rule="evenodd">
      <path fill-opacity=".87" fill="#000" d="M23 .373L45.627 23 23 45.627.373 23z"/>
      <path d="M18.445 29V14.78h4.873c1.608 0 2.832.324 3.672.968.84.645 1.26 1.605 1.26 2.88 0 .652-.176 1.238-.527 1.76-.352.52-.866.923-1.543 1.21.768.208 1.362.6 1.782 1.176.42.577.63 1.268.63 2.076 0 1.334-.428 2.36-1.284 3.076C26.45 28.642 25.226 29 23.63 29h-5.185zm2.47-6.416v4.443h2.745c.775 0 1.38-.192 1.817-.576.436-.383.654-.917.654-1.6 0-1.478-.754-2.233-2.265-2.266h-2.95zm0-1.816h2.423c.768 0 1.37-.175 1.802-.523.433-.348.65-.84.65-1.48 0-.703-.2-1.21-.602-1.523-.4-.312-1.023-.47-1.87-.47h-2.402v3.996z" fill="#F5D328"/>
    </g>
  </symbol>
</svg>