.c-footer {
  background-color:$primary-text-d;
  color:$primary-text-l;

  & &-container {
    @include container;
    padding: rem(32px);
  }

    & &-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 
        "a b"
        "c d";

      @media screen and (max-width:$tablet) {
        grid-template-areas:
          "a b"
          "c c"
          "d d";
      }
    }

      & &-logo {
        grid-area: a;        
      }

      & &-links {
        grid-area: b;
        justify-self: end;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap:rem(8px);

        margin-bottom: rem(80px);
      }

      & &-info-owner {
        grid-area: c;
        font-size: rem(12px);
      }

        & &-info-copy {        
          span {
            color:$secondary-text-l;
          }
        }

      & &-info-developer {
        grid-area: d;
        justify-self: end;
        align-self: end;

        font-size: rem(12px);

        @media screen and (max-width:$tablet) {
          justify-self: start;
          margin-top: rem(24px);
        }
      }
}