.c-form-group {
  label {
    display: block;
    margin-bottom:rem(8px);
  }
  
  input[type="text"],
  input[type="email"] {
    height:rem(44px);
  }

  input[type="email"],
  input[type="text"],
  textarea {
    width:100%;
    box-sizing: border-box;
    padding:rem(2px) rem(16px);

    background:$background1;
    border:1px solid $divider-d;  
  }  

  textarea {
    height:rem(132px);
    line-height: 2.5;
  }
}