@keyframes fadeIn {
  0% {
    opacity:0;
    transform:scale(.5);
  }

  100% {
    opacity:1;
    transform:scale(1);
  }
}

@mixin fadeInAnimation {
  animation-name:fadeIn;
  animation-delay:350ms;
  animation-fill-mode: both;
  //easy out
  animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}


.c-header {
  box-sizing: border-box;
  overflow: hidden;
  position: relative;


  &:before{
    @include skewed-background;
    transform-origin:top left;
  }

  & &-grid-container {
    padding-left:0;
    padding-right:0;
    position: relative;
  }
      
    & &-row{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 1px;

      @media screen and (max-width:$desktop-sm) {
        display: block;
        position: relative;
      }

      grid-template-rows: 1fr auto auto auto auto 1fr;
    }
    
    & &-heroimage {
      max-height: calc(100vh - #{rem(8*$base-unit)});
      grid-column: 1 / span 1;
      grid-row: 1 / span 6;      
      justify-self: right;
      z-index: 1;
  
      img {
        max-height: calc(100vh - #{rem(8*$base-unit)});
        max-width: 100%;
        margin-left:20%;
        

        @include fadeInAnimation;
        animation-duration: 250ms;
                
        @media screen and (max-width:$desktop-sm) {
          max-width:none;
          margin-left:0;
          display: block;
          margin:auto; 
          transform: translateX(-15%);
          animation: none;          
        }
        
      }
    }

    & &-herodisplay1,
    & &-herodisplay2,
    & &-herodisplay3,
    & &-herocopy {
      grid-column:2 / span 1;
    }

    & &-herodisplay1,
    & &-herodisplay2,
    & &-herodisplay3 {
      font-size:rem(112px);
      font-weight:bold;
      line-height: 1;
      text-shadow: text-shadow24dp();   
      margin-left:rem(-24px);   

      @include fadeInAnimation;      

      @media screen and (max-width:$desktop-sm) {
        animation: none;
        display: none;
      }

        span {
          display: inline-block;
          background-color: $yellow;
          line-height: 1;
        }
    }

    & &-herodisplay1 {
      grid-row: 2 / span 1;  
      animation-duration: 250ms;    
    }

    & &-herodisplay2 {
      grid-row: 3 / span 1;
      z-index: 1;
      animation-duration: 350ms;    
    }

    & &-herodisplay3 {
      grid-row: 4 / span 1;
      animation-duration: 450ms;    
    }

    & &-herocopy {
      grid-row:5 / span 1;
      z-index: 1;
      margin-top:rem($base-unit*3);

      .subheading {
        display: none;
      }
      
      p {
        margin-bottom: rem($base-unit*3);        
      }

      @media screen and (max-width:$desktop-sm) {
        margin:0;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        
        .subheading {
          display: block;
          font-weight: bold;
          margin-bottom: rem($base-unit*3);        
        }
        
      }
    }
}    

