@mixin card {
  display: flex;
  flex-direction: column;

  padding:rem(32px);
  background-color: $background2;    
}

.price-table {  
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;  
  grid-gap: rem(24px);  

  grid-template-areas:
    ". a b c .";

  @media screen and (max-width:$desktop-sm) {
    grid-template-areas:
    ". a a a ."
    ". b b b ."
    ". c c c .";
  }

  @media screen and (max-width:$mobile) {
    grid-template-areas:
    "a a a a a"
    "b b b b b"
    "c c c c c";
  }

  margin-top:rem(40px);

  [class^="price-table-card"]{
    @include card;
  }
  
  & &-card1 {
    grid-area: a;
  }

  & &-card2 {
    grid-area:b;
    box-shadow:box-shadow24dp();    
  }

  & &-card3 {
    grid-area:c;
  }
    & &-action {
      text-align: center;
    }

    & &-content {
      flex:1 0 1px;
      text-align: center;
      margin-bottom: rem(24px);
    }

      & &-title {
        max-width: rem(170px);
        margin-left:auto;
        margin-right:auto;
        margin-bottom: rem(16px);
        padding-bottom: rem(16px);

        font-weight: normal;
        border-bottom:1px solid $divider-d;                
      }

        & &-price {
          display: flex;
          align-items:baseline;
          justify-content: center;

          margin-bottom: rem(16px);
        }

          & &-value {
            font-size: rem(56px);
            font-weight: 500;
            line-height: 1;
          }

          & &-currency {
            font-size: rem(12px);
            color:$hint-text-d;
          }

        & &-feature {
          margin-bottom: rem(8px);
          text-align: center;
          font-size: rem(12px);
          font-style: italic;
          color:$secondary-text-d;
        }





    & &-action {
      flex:0 0 1px;
    }  

    


}