.c-section-contact {

  margin-top:$base-unit*10;

  box-sizing: border-box;
  overflow: hidden;
  position: relative;


  &:before{
    @include skewed-background;
    transform-origin:top right;
  }

  & &-wrapper {
    position: relative;
    z-index: 1;
  }

    .c-section-title {
      margin-top:rem(88px);
    }

      .c-section-title-number {
        color:$background2;
      }

    & &-title {
      display: flex;
      justify-content:center;

      @media screen and (max-width:$tablet) {
        // justify-content: flex-start;
      }
    }

    & &-grid {
      display:grid;
      grid-template-columns: 1fr 3fr 3fr 1fr;
      grid-gap:rem(24px);
      
      grid-template-areas: 
      ". a b ."
      ". c c .";

      @media screen and (max-width:$desktop-sm) {
        grid-template-areas:
        ". a a ."
        ". b b ."
        ". c c .";
      }
    
      @media screen and (max-width:$tablet) {
        grid-template-areas:
        "a a a a"
        "b b b b"
        "c c c c";
      }            

      margin-bottom: rem(24px);
    }

      & &-name {
        grid-area: a;
      }

      & &-email {
        grid-area: b;
      }

      & &-message {
        grid-area: c;
      }    

    & &-grid2 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      
      @media screen and (max-width:$tablet) {
        grid-auto-flow: column;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
      }      
    }
    
      & &-address {
        background-color:$yellow;
        padding: rem(32px);
      }

        & &-subheading {
          font-size: rem(34px);
          font-weight: bold;
          margin-bottom: rem(16px);
        }

        & &-place {
          address{font-style:normal;}
          color:$secondary-text-d;
          @include font2;          

          p {
            margin-bottom: rem(8px);
          }
        }

          & &-city,
          & &-person {
            color:$primary-text-d;
          }
}