.c-section {
  margin-top:$base-unit*10;
  &:focus {
    outline:none;
  }

  & &-copy {
    grid-column:1 / span 4;  
    align-self: center; 
    
    @media screen and (max-width:$tablet) {
      grid-column:1 / span 8;
    }
  }

  & &-img {
    grid-column:5 / span 4;
    align-self: center;
    justify-self:center;

    @media screen and (max-width:$tablet) {
      display:none;
    }
  }

  & &-display {
    display: flex;
    align-items: center;
    margin-bottom: rem(40px);
  }

    & &-number {
      font-size: rem(160px);
      font-weight:500;
      letter-spacing: rem(-16px);
      line-height: 0.65;
      color:$background1;
      text-indent:rem(-16px);
      background: $yellow;
      flex:0 0 rem(300px);
    }

    & &-display-copy {
      font-size: rem(34px);
      font-weight: bold;
      text-shadow: shadow24dp();
      line-height: 0.65;
      margin-left:rem(-170px);
    }
}