.c-section-copy {
  margin-top:$base-unit*10;

  @mixin grid-structue {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: $grid-gutter; 
    align-items:center;

    @media screen and (max-width:$tablet) {
      grid-template-areas: 
      "copy copy";
    } 
  }

  & &-grid1{
    @include grid-structue;
    grid-template-areas: 
      "copy im";   
  }

  & &-grid2{
    @include grid-structue;
    grid-template-areas: 
      "im copy";    
  }

  &:focus {
    outline:none;
  }

  & &-copy-desc {
    grid-area:copy;
  }

    & &-content {
      @include font2;
      line-height:1.75;
      color:$text3;
    }

  & &-img {    
    justify-self:center;
    grid-area: im;

    @media screen and (max-width:$tablet) {
      display:none;
    }
  }  
}