.c-section-copy {
  margin-top:$base-unit*10;

  @mixin grid-structue {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: $grid-gutter; 
    align-items:center;

    @media screen and (max-width:$tablet) {
      grid-template-areas: 
      "co co";
    } 
  }

  & &-grid1{
    grid-template-areas: 
      "co im";
    @include grid-structue;       
  }

  & &-grid2{
    grid-template-areas: 
      "im co";
    @include grid-structue;        
  }

    & &-desc {
      grid-area:co;
    }

      & &-content {
        @include font2;
        line-height:1.75;
        color:$secondary-text-d;
      }

    & &-img {    
      justify-self:center;
      grid-area:im;

      @media screen and (max-width:$tablet) {
        display:none;
      }
    }  
}