.c-section-contact

  .o-grid-container.c-section-contact-wrapper

    .c-section-contact-title
      h2.c-section-title
        span(class="c-section-title-number" aria-hidden="true") 03
        span.c-section-title-copy NAPIŠTE NÁM
    
    form.u-mb-80
      .c-section-contact-grid
        .c-form-group.c-section-contact-name
          label(for="name") Jméno
          input(type="text" id="name" required)
        
        .c-form-group.c-section-contact-email
          label(for="email") Email
          input(type="email" id="email" required)

        .c-form-group.c-section-contact-message
          label(for="message") Zpráva
          textarea(id="message" class="u-mb-24" required data-message)

          input(type="submit" class="btn-primary" value="ODEŠLI")

  .c-section-contact-container.c-section-contact-wrapper

    .c-section-contact-grid2
      
      .c-section-contact-address
        
        h3.c-section-contact-subheading POBOČKA

        div(class="c-section-contact-place")
          address
            p.c-section-contact-city
              strong Brno
            p Poliklinika Lesná (1.patro)
            p.u-mb-16 Halasovo nám. 597/1
          div
            p.c-section-contact-person
              strong Bc. Milan Favorit
            p +420 111 111 111
            p.u-mb-0 bezzavislosti@seznam.cz
      
      div(class="c-section-contact-map" id="map")


        
        
      