.c-section-contact

  .o-grid-container.c-section-contact-wrapper

    .c-section-contact-title
      h2.c-section-title
        span(class="c-section-title-number" aria-hidden="true") 03
        span.c-section-title-copy NAPIŠTE NÁM
    
    form
      .c-section-contact-grid
        .c-form-group.c-section-contact-name
          label(for="name") Jméno
          input(type="text" id="name")
        
        .c-form-group.c-section-contact-email
          label(for="email") Email
          input(type="text" id="email")

        .c-form-group.c-section-contact-message
          label(for="message") Zpráva
          textarea(id="message" class="u-mb-24")

          input(type="submit" class="btn-primary" value="ODEŠLI")
    
    .c-section-contact-map
      .c-section-contact-address
        h3.c-section-contact-subheading ADRESA POBOČKY

        .c-section-contact-place
          p
           strong
          p Poliklinika Lesná (1.patro)
          p Halasovo nám. 597/1
        
        .c-section-contact-person


        
        
      