.c-footer

  .c-footer-container

    .c-footer-grid

      .c-footer-logo

        a(href="#main" class="c-link-logo" aria-label="odkaz na hlavni sekci") 
            
          <svg class="c-link-logo-img">
            <use xlink:href="#logo"></use>
          </svg>

          div(class="c-link-logo-copy" aria-hidden="true") bezzavislosti.cz                

      .c-footer-links        
        //- a(href="")                          
        //-   <svg class="c-link-icon-twitter"> 
        //-     <use xlink:href="#twitter"></use>
        //-   </svg>
      
        //- a(href="")                          
        //-   <svg class="c-link-icon-linkedin">
        //-     <use xlink:href="#linkedin"></use>
        //-   </svg>

        //- a(href="")                          
        //-   <svg class="c-link-icon-facebook">
        //-     <use xlink:href="#facebook"></use>
        //-   </svg>

      .c-footer-info-owner
        .c-footer-info-copy
          <div aria-label="provozovatel">
            <strong>Bc.Milan Rychnovský,&nbsp;</strong>
            <span>IČO &ndash; 48181307</span>
          </div>
          <div aria-label="adresa pobočky">
            <strong>Brno,&nbsp;</strong>
            <span>Poliklinika Lesná (1.patro), Halasovo nám. 597/1</span>
          </div>
          //- <div aria-label="spisová značka">
          //-   <strong>Spisová značka C 12345&nbsp;</strong>
          //-   <span>vedená u Krajského soudu v Brně</span>
          //- </div>

      .c-footer-info-developer
        .c-footer-info-copy
          <div aria-label="provozovatel">
            <strong>designcode &ndash;</strong>
            <span>ivos.stork@gmail.com</span>
          </div>


        

