.c-footer

  .c-footer-container

    .c-footer-grid

      .c-footer-info

        a(href="#home" class="c-logo-link") 
            
          <svg class="c-logo-link-img">
            <use xlink:href="#logo"></use>
          </svg>

          .c-logo-link-copy bezzavislosti.cz

      .c-footer-links

        

