.c-section-footer

  .o-grid-container2

    .c-section-footer-grid

      .c-section-footer-info

        <svg class="c-logo-logomobile">
          <use xlink:href="#logo"></use>
        </svg>



      .c-section-footer-links

