.o-grid-container

  .c-header-row
    div(class="c-header-heroimage")
      img(src='./content/img/hero.png' alt="Skákající muž")
        
    div(class="c-header-herodisplay1" aria-hidden="true") 
      span ZBAVTE
    div(class="c-header-herodisplay2" aria-hidden="true") 
      span SE 
    div(class="c-header-herodisplay3" aria-hidden="true") 
      span ZÁVISLOSTI
    
    h1(class="u-sr-only") Zbavte se závislosti

    div(class="c-header-herocopy") 
      span(class="subheading" aria-hidden="true") Zbavte se závislosti
      p Odnaučíme Vás kouřit s biorezonancí.
      a(class="btn-primary" href="#kontakt") KONTAKT

