.o-grid-container 

  .c-section-grid

    .c-section-img
      picture
        source(srcset=imgUrl+'face2.webp, '+imgUrl+'face2@2.webp 2x' data-src1=imgUrl+'face2.webp' data-src2=imgUrl+'face2@2.webp' type='image/webp')
        source(srcset=imgUrl+'face2.jpg, '+imgUrl+'face2@2.jpg 2x' data-src1=imgUrl+'face2.jpg' data-src2=imgUrl+'face2@2.jpg' type='image/jpg')
        img(src='./content/img/face2.jpg' type='image/jpg') 

    .c-section-copy
      h2.c-section-display 
        span(class="c-section-number" aria-hidden="true") 02
        span.c-section-display-copy JAK TO DĚLÁME?

      .c-section-legible-copy

        p 
        | Podle moderních poznatků kvantové fyziky mají částice jak vlnový, tak i částicový charakter. Což znamená, že každá substance, každá buňka, každá část těla, ale také viry, bakterie, toxiny, nikotin,
        | dehet, alkohol, cukr atd. mají elektromagnetické vyzařování. Každá látka tak má svou určitou typickou frekvenci, se zcela individuální charakteristikou.
        
        p 
        | Pomocí přístroje Bicom 2000 je vysílán do těla zrcadlově obrácený elektromagnetický frekvenční vzorek nikotinu a dehtu v důsledku tohoto procesu se urychlí detoxikace od nikotinu a dalších
        | zátěžových látek. Ty se rychleji uvolňují z tkání do volné formy, a proto je velmi důležité po terapii zvýšit přísun tekutin – doporučujeme neperlivé nápoje. Dochází k uvolnění nikotinu z těla a eliminuje
        | se tzv. nikotinový hlad neboli abstinenční příznaky. 

        p 
        |  Nedoporučujeme před zákrokem jakkoliv kouření omezovat. Celý proces trvá 30 min, je naprosto bezbolestná a bez vedlejších účinků. Může se mu podrobit každý kuřák bez ohledu na množství vykouřených cigaret. 
        | Chuť na cigaretu mizí ihned, nebo do několika hodin po zákroku. Nutnost kouření se druhý den ráno většinou již nedostavuje.    

  include price-table.pug      