- var facewomanat2webp = require('../content/img/face2@2.webp')
- var facewomanat1webp = require('../content/img/face2.webp')

- var facewomanat2jpg = require('../content/img/face2@2.jpg')
- var facewomanat1jpg = require('../content/img/face2.jpg')
.c-section-copy

  .o-grid-container 

    .c-section-copy-grid2
      
      .c-section-copy-desc

        h2.c-section-title 
          span(class="c-section-title-number" aria-hidden="true") 02
          span.c-section-title-copy JAK TO DĚLÁME?

        .c-section-copy-content

          p 
          | Podle moderních poznatků kvantové fyziky mají částice jak vlnový, tak i částicový charakter. Což znamená, že každá substance, každá buňka, každá část těla, ale také viry, bakterie, toxiny, nikotin,
          | dehet, alkohol, cukr atd. mají elektromagnetické vyzařování. Každá látka tak má svou určitou typickou frekvenci, se zcela individuální charakteristikou.
          
          p 
          | Pomocí přístroje Bicom 2000 je vysílán do těla zrcadlově obrácený elektromagnetický frekvenční vzorek nikotinu a dehtu v důsledku tohoto procesu se urychlí detoxikace od nikotinu a dalších
          | zátěžových látek. Ty se rychleji uvolňují z tkání do volné formy, a proto je velmi důležité po terapii zvýšit přísun tekutin – doporučujeme neperlivé nápoje. Dochází k uvolnění nikotinu z těla a eliminuje
          | se tzv. nikotinový hlad neboli abstinenční příznaky. 

          p 
          |  Nedoporučujeme před zákrokem jakkoliv kouření omezovat. Celý proces trvá 30 min, je naprosto bezbolestná a bez vedlejších účinků. Může se mu podrobit každý kuřák bez ohledu na množství vykouřených cigaret. 
          | Chuť na cigaretu mizí ihned, nebo do několika hodin po zákroku. Nutnost kouření se druhý den ráno většinou již nedostavuje.    
    
      .c-section-copy-img
        picture 
          source(srcset=facewomanat1webp+', '+facewomanat2webp+' 2x' type='image/webp')
          source(srcset=facewomanat1jpg+' , '+facewomanat2jpg+' 2x' type='image/jpg')
          img(src=facewomanat1jpg type='image/jpg') 

      

    include price-table.pug      