.price-table

  .price-table-card1    
    .price-table-content
      h3.price-table-title ZÁKLADNÍ
      h4.price-table-price
        .price-table-value 1200
        .price-table-currency Kč
      p.price-table-feature Základní program
      p.price-table-feature Čip k prodloužení účinku

    .price-table-action
      button(class="btn-secondary" type="button") OBJEDNEJ

  .price-table-card2    
    .price-table-content
      h3.price-table-title ZÁKLADNÍ
      h4.price-table-price
        .price-table-value 1200
        .price-table-currency Kč
      p.price-table-feature Základní program
      p.price-table-feature Čip k prodloužení účinku

    .price-table-action
      button(class="btn-secondary" type="button") OBJEDNEJ

  .price-table-card3    
    .price-table-content
      h3.price-table-title ZÁKLADNÍ
      h4.price-table-price
        .price-table-value 1200
        .price-table-currency Kč
      p.price-table-feature Základní program
      p.price-table-feature Čip k prodloužení účinku

    .price-table-action
      button(class="btn-secondary" type="button") OBJEDNEJ
