.o-grid-container 

  .c-section-grid

    .c-section-copy

      h2.c-section-display 
        span(class="c-section-number" aria-hidden="true") 01
        span.c-section-display-copy CO DĚLÁME?

      .c-section-legible-copy

        p Rádi byste přestali kouřit, ale nevíte jak? Nabízíme pomoc při odvykání kouření pomoci biorezonanční terapie. Biorezonanční metoda je bezbolestná a nemá negativní účinky na organismus. 
        
        p Tělo není nikdy vystaveno jakémukoliv druhu proudu. Počítačová zařízení Bicom jsou vyráběna v Německu od roku 1977.

        p.u-mb4 Co vše děláme?

        ul.c-list 
          li odvykání kouření
          li eliminace chuti na sladké a alkohol

    .c-section-img
      picture
        source(srcset=imgUrl+'face1.webp, '+imgUrl+'face1@2.webp 2x' data-src1=imgUrl+'face1.webp' data-src2=imgUrl+'face1@2.webp' type='image/webp')
        source(srcset=imgUrl+'face1.jpg, '+imgUrl+'face1@2.jpg 2x' data-src1=imgUrl+'face1.jpg' data-src2=imgUrl+'face1@2.jpg' type='image/jpg')
        img(src='./content/img/face1.jpg' type='image/jpg') 
      
      