- var facemanat2webp = require('../content/img/face1@2.webp')
- var facemanat1webp = require('../content/img/face1.webp')

- var facemanat2jpg = require('../content/img/face1@2.jpg')
- var facemanat1jpg = require('../content/img/face1.jpg')
.c-section-copy

  .o-grid-container 

    .c-section-copy-grid1

      div.c-section-copy-desc

        h2.c-section-title 
          span(class="c-section-title-number" aria-hidden="true") 01
          span.c-section-title-copy CO DĚLÁME?

        .c-section-copy-content

          p Rádi byste přestali kouřit, ale nevíte jak? Nabízíme pomoc při odvykání kouření pomoci biorezonanční terapie. Biorezonanční metoda je bezbolestná a nemá negativní účinky na organismus. 
          
          p Tělo není nikdy vystaveno jakémukoliv druhu proudu. Počítačová zařízení Bicom jsou vyráběna v Německu od roku 1977.

          p.u-mb-4 Co vše děláme?

          ul.c-list 
            li odvykání kouření
            li eliminace chuti na sladké a alkohol

      .c-section-copy-img
        picture 
          source(srcset=facemanat1webp+', '+facemanat2webp+' 2x' type='image/webp')
          source(srcset=facemanat1jpg+' , '+facemanat2jpg+' 2x' type='image/jpg')
          img(src=facemanat1jpg type='image/jpg') 
        
        