/*
  RELATIVE UNITS
*/

/* 
- Spacing and font sizes should be relative to the font size which is set by browser (16px usually)
- Which means that you should use relative unit for 99% cases with some exceptions - (1px border)
- There is one small exception - media queries shuldbe used with em - some browsers have issues with rem in media queries (Safari)
- Let's say width is set in px and user will increase the font size - the text will not fit into the container
- It would be dangerous to set padding in em because em is always relative to the font size feature
*/

/**
 * CONVERTOR - wen using em(breakpoints, spacing),rem (font sizes) everything changes proportionally when user will modify browser font size
 */

$font-size-base: 16px;

@function em($px,$base:$font-size-base) {
  @return ($px/$base)*1em;
}

@function rem($px,$base:$font-size-base) {
   @return ($px/$base)*1rem;
}

/// Remove the unit of a length
/// @param {Number} $number - Number to remove unit from
/// @return {Number} - Unitless number
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

@mixin focus {
  &:focus {
    background-color:$yellow;
    outline:rem($base-unit) solid $yellow;
  }
}


@mixin font2 {
  font-family: 'Roboto Slab', TimesNewRoman,"Times New Roman",Times,Baskerville,Georgia,serif
}

@mixin skewed-background {
  content:"";
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background:$background2;
  transform:skewY(-4deg);
}

//gogle maerial design shadow
@function text-shadow2dp() {
  //ambient shadow
  //penumbra
  //umbra
  @return 
    0 1px 5px hsla(0,0%,0%,.20),
    0 3px 4px  hsla(0,0%,0%,.12),
    0 0 4px  hsla(0,0%,0%,.14);
}

@function text-shadow24dp() {
  //ambient shadow
  //penumbra
  //umbra
  @return 
    0 11px 15px hsla(0,0%,0%,.20), 
    0 9px 46px hsla(0,0%,0%,.12), 
    0 24px 38px hsla(0,0%,0%,.14);
}

@function box-shadow2dp() {
  //ambient shadow
  //penumbra
  //umbra
  @return 
    0 1px 5px 0 hsla(0,0%,0%,.20),
    0 3px 4px 0  hsla(0,0%,0%,.12),
    0 0 4px 0  hsla(0,0%,0%,.14);
}

@function box-shadow24dp() {
  //ambient shadow
  //penumbra
  //umbra
  @return 
    0 11px 15px 0px hsla(0,0%,0%,.20), 
    0 9px 46px 8px hsla(0,0%,0%,.12), 
    0 24px 38px 3px hsla(0,0%,0%,.14);
}


