$yellow:#EEB200;

$purple:#502F7E;

$text1:#252729;
$text2:#555A5F;
$text3:#6E7479;

$background1:#ffffff;
$background2:#F8F8F5;
$background3:#C1C1C2;


$color1:hsla(50, 91%, 56%, 1);
$color2:hsla(360,100%,0%,.87);
$color3:hsla(360,100%,0%,.54); 
$color4:hsla(360,100%,0%,.24); 
$color5:#F5F5F5;
$color6:#ffffff;
$color7:hsla(360,100%,0%,.12); 